@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.para{
    margin-top: 8px;
    margin-right:50px;
    border:2px solid red;
    color: #fff;
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
}
.small{
    font-size: 12px;
    font-style: italic;
    margin-top: 9px;
}
.link{
    margin-top: 5px;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}
.link:hover{
    color:black;
}
.spans{
    /* width: 100%; */
    /* border: 2px solid red; */
    /* margin-top: 0px; */
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
    color:#2e80a1;
}
.cont{
    margin-top: 0px;
    cursor:pointer;
    height: 3rem;
}

.lists{
    display:flex;
    align-items: center;
    margin: auto;
}
.lists>li{
    list-style:none;
    /* margin: 0px 5px; */
    font-size: 16px;
    padding: 14px 14px;
}
.lists>li:hover{
    border-bottom: 1px solid #167a92;
    color:#167a92;
}
.lists>li:hover a{
    color:#167a92;
}
.lists>li>a{
    text-decoration:none;
    color: black;
}