*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 0px) and (max-width: 400px) {
    .container {
        display: block;
        width: 85%;
        margin: 3% 7%;
        justify-content: center;
    }
    .main2 {
        width: 85%;
        margin-top: 55px;
        margin: 3% 7%;
        
    }
    .main {
        width: 85%;
        background-color: #ffffff; 
        margin: 3% 7%;
        margin-top: 7vh;
    }
    .div2 {
        height: 6vh;
        width: 55vw;
        box-sizing: border-box;
        border: 0.06rem solid #939395;
        padding: 6px;
        outline: none;
        font-size: 1rem;
        margin: 0.25rem 0rem 0.9rem 0rem;
    }
    .div3 {
        height: 6vh;
        width: 30vw;
        box-sizing: border-box;
        padding: 6px;
        outline: none;
        font-size: 1rem;
        margin: 4px 0rem 15px 0rem;
        border: 0.06rem solid #939395;
        border-radius: 0.3rem;
    }
  }
  @media (min-width: 400px) and (max-width: 768px) {
    .container {
        display: block;
        margin: 2rem 0.5rem;
        justify-content: center;
    }
    .main2 {
        width: 75%;
        margin: 3% 10%;
        
    }
    .main {
        width: 75%;
        background-color: #ffffff; 
        margin: 3% 10%;
        margin-top: 7vh;
    }
    .div2 {
        height: 6vh;
        width: 68vw;
        box-sizing: border-box;
        border: 0.06rem solid #939395;
        padding: 6px;
        outline: none;
        font-size: 1rem;
        margin: 0.25rem 0rem 0.9rem 0rem;
    }
    .div3 {
        height: 6vh;
        width: 20vw;
        box-sizing: border-box;
        padding: 6px;
        outline: none;
        font-size: 1rem;
        margin: 4px 0rem 15px 0rem;
        border: 0.06rem solid #939395;
        border-radius: 0.3rem;
    }
    
  }
  @media (min-width: 768px) {
    .container {
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .main2 {
        width: 25%;
        margin-top: 55px;
        
    }
    .main {
        width: 60%;
        background-color: #ffffff; 
        margin: 3% ;
        margin-top: 7vh;
    }
    .div2 {
        height: 6vh;
        width: 57vw;
        box-sizing: border-box;
        border: 0.06rem solid #939395;
        padding: 0.4rem;
        outline: none;
        font-size: 16px;
        margin: 4px 0rem 15px 0rem;
    }
    
    .div3 {
        height: 6vh;
        width: 10vw;
        box-sizing: border-box;
        padding: 6px;
        outline: none;
        font-size: 1rem;
        margin: 4px 0rem 15px 0rem;
        border: 0.06rem solid #939395;
        border-radius: 0.3rem;
    }
    .dateBox{ 
          display:flex;
            gap: 15px;
           margin-top: -20px
         }
  }
  
  
.card{
    font-size:1.25rem;
    font-weight: 37rem;
    margin:0rem 0rem 0rem 0.625rem;
}
.div1 {
    font-size: 0.9rem;
    margin-bottom: 0.125rem;
    letter-spacing: 0.06rem;
    font-weight: 600;
} 
.div2:focus {
    border-radius: 0.3rem;
    border: 0.125rem solid teal;
}
.div3:focus {
    border: 0.125rem solid teal;
    border-radius: 0.3rem;
}
.div4{
    border  : 0.06rem solid #c3c3c3;
    padding: 1.5rem 0.625rem 0.3rem1.25rem;
}
.div4>h5{
    margin-bottom:1.25rem;
 
}
.div5{
    border: 0.06rem solid;
    padding: 15px; 
}
.div6{
    width: 4.5rem;
    margin-left: 0.625rem;
}

