.div2 {
  justify-content: center;
  margin: auto;
}

.heading1 {
  color: rgb(211, 212, 214);
}

.div2 :nth-child(2) {
  font-weight: 700;
  font-size: 1rem;
}

.div2 :nth-child(3) {
  margin: auto;
  width: 80%;
  font-size: 1rem;
}

.btn {
  height: 6.5vh;
  width: 54%;
  font-size: 0.8rem;
  margin: 1.6rem 0rem 2.2rem 0rem;
  border: 0.1rem solid rgb(142, 148, 159);
  font-weight: 800;
  color: rgb(55, 55, 57);
  background-color: snow;
  cursor: pointer;
  border-radius: 1rem;
}

.btn:hover {
  color: snow;
  background: rgb(211, 212, 214);
}

@media (min-width: 0px) and (max-width: 400px) {
  .imag {
    width: 80%;
    margin: auto;
  }

  .div1 {
    text-align: center;
    border: 0.1rem solid rgb(211, 212, 214);
    border-radius: 0.625rem;
    justify-content: center;
    width: 55%;
    margin: auto;
    margin-top: 11vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .imag {
    width: 80%;
    margin: auto;
  }

  .div1 {
    text-align: center;
    border: 0.1rem solid rgb(211, 212, 214);
    border-radius: 0.625rem;
    justify-content: center;
    width: 36%;
    margin: auto;
    margin-top: 11vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

@media (min-width: 768px) {
  .imag {
    width: 60%;
    margin: auto;
  }

  .div1 {
    text-align: center;
    border: 0.1rem solid rgb(211, 212, 214);
    border-radius: 0.625rem;
    justify-content: center;
    width: 25%;
    margin: auto;
    margin-top: 11vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}