.main{
    width:100%;
    display: flex;
font-family: sans-serif;
margin-top: 50px;
}
.sidebar{
    width:15%;
    margin-left:3%;
}
.sidebar>h4{
    margin-top: 10px;
    color:rgb(10, 54, 90);
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 13px;
}
.sidebar>p{
    font-size: 13px;
}
.sidebar>h5{
    margin-top: 4px;
    font-size: 13px;
    color:rgb(56, 54, 54);
}
.sidebar>h5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.product{
    width:77%;
    margin-left: 30px;
}
.product-child1{
    display:flex;
    justify-content: space-between;
}
.product-child1>p{
    color: var(--text-dark);
    display: inline-block;
    font: 2.2rem/1.3 var(--font-body-bold);
    letter-spacing: .12rem;
    margin-bottom: 15px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 22px;
}
.clothData{
    margin: auto;
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
 gap:20px;
 font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
 color:#444;

}
.image{
    overflow: hidden;
    margin: 0 auto;
}
.image>img{
    width: 100%;
        transition: 0.9s all ease-in-out;
}
.image>img:hover{
    transform: scale(1.5) 
}
.cloth>div>h1{
    font-size: 14px;
    padding-top: 8px;
    color: inherit;
    letter-spacing: .06rem;
    margin-bottom: 0;
}
.cloth>div>p{
    font-size: 12px;
 }
 .btn:hover{
    background-color: white;

 }

 .singleCloth{
    width:95%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    
 }

 .img{
    overflow: hidden;
    margin: 0 auto;
    margin-top:50px;

 }
 .img>img{
    transition: 0.9s all ease-in-out;
    margin-left: 20px;

}
 
.img>img:hover{
    transform: scale(1.5) 

}
 .details{
    margin-top:50px;
   margin-right: 100px;
    width:30%;
 }
 .details>h1{
    font-size: 25px;
 }
 .details>a{
    margin-top: 20px;
    font-size: 13px;
    color: rgb(56, 93, 161);
    text-decoration: underline;
 }
 .details>h2{
    margin-top: 10px;
 }
 .details>h4{
    margin-top: 8px;
    font-size: 13px;
    margin-right: 50px;
 }

 .moreCloth{
    width:15%;
    margin-top: 20px;
   
 }

 .btn{
margin-bottom: 10px;


 }
 .btn>h6{
    margin-top: 10px;
    margin-left: 0px;
font-size: 18px;
 }
 .btn>button:hover{
background:skyblue;
 }
 .select{
        width: 140px;
        border: 2px solid blue;
        border-radius:5px;
        margin-left: 10px;
        height:30px;
       font-size:12px;

 }

 .Single{
    margin:auto;
    margin-top: 140px;
    width:70%;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 }

 .Single>div>div>h2{
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #2f3337;
    font-size: 30px;
    font-weight: 700;
    margin-left: 80px;
 
 }
 .Single>div>div>h1{
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #2f3337;
    font-size: 30px;
    font-weight: 700; 
      margin-top: 100px;
      margin-left: 50px;
 }
 .star{
    margin-left: 70px;
    margin-top: 20px;
   }
   .shop{
    margin-left: 70px;
    margin-top: 20px;
 
   }
   .btn{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
 
 }
 .btn>:nth-child(1){
    background:grey;
    color: white;
    margin-left: 20px;
 }
   .btn>:nth-child(2){
    font-size: 20px;
    padding: 22px;
    background:grey;
    color: white;
    margin-left: 30px;
   }
   .btn>button:hover{
    background: #000;
   }
   .mainbar{
    width:93%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}
.mainbar>div{
    padding-right: 15px;
}
   .mainbar>div>img{
    position:static;
    width: 95%;
   }
   
.mainbar>div>h2{
    position:absolute;
    padding-left: 62px;
    padding-top: 28px;
     font-family: sans-serif;
color: white;
}
 @media only screen and (min-width: 250px) and (max-width: 600px) {

    .clothData{
        margin: auto;
       margin-top: 5px;
       display: grid;
       grid-template-columns: repeat(2,1fr);
     gap:15px;
     font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
     color:#444;
    padding-left: 10px;
    }
    .product{
        width:95%;
        margin-left:0px
    }
    .product-child1>p{
        font-size: 18px;
        margin-left: 5px;
        color:black;
        font-weight: 600;
      }
      .btn>button{
        font-size: 20px;
        width:5%;
      }
      .select{
        width: 50px;
        border: 1px solid blue;
        border-radius:5px;
        margin-left: 2px;
        height:20px;
       font-size:10px;
       margin-top:7px;

 }
 .sidebar{
    display:none;
}

 }
 
 @media only screen and (min-width: 600px) and (max-width: 800px) {
    .clothData{
        margin: auto;
       margin-top: 10px;
       display: grid;
       grid-template-columns: repeat(3,1fr);
     gap:20px;
     font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
     color:#444;
    
    }



 }